body{
    background: -webkit-linear-gradient(bottom, darkgrey, grey);
    background-repeat: no-repeat;
}


.box{
    background-color: white;
    border-radius: 8px;
    margin: 6rem auto 8.1rem auto;
    width: 25%;
}

label{
    font-size: 11pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box-content{
    padding: 12px 44px;

}

.titled{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    padding-bottom: 23px;
    text-align: center;
}

.garisbawahh2{
    background: -webkit-linear-gradient(left, grey, lightgrey);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;

}

form{
    align-items: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.login{
    background-color: white;
    border: none;
    outline: none;
    padding-top: 14px;
}

.garisbawah{
    background: -webkit-linear-gradient(right, darkgrey, grey);
    height: 1px;
    width: 100%;
    margin-bottom: 25px;
}

.tombolkirim{
    text-align: center;
    margin-bottom: 50px;
}

.kirim{
    width: 100%;
    border-radius: 3px;
    padding: 8px;
    border: none;
    background-color: grey;
    margin-bottom: 5px;
    cursor: pointer;
    color: white;
    transition: 0,25s;
    outline: none;
}

.daftar{
    width: 100%;
    border-radius: 3px;
    padding: 8px;
    border: none;
    background-color: whitesmoke;
    cursor: pointer;
    outline: none;
    margin-bottom: 50px;

}

.kirim:hover{
    background-color: dimgray;
}

.daftar:hover{
    background-color: gray;
    color: white;
}